<!DOCTYPE html>
<html>
  <head>
    <title>My Favorite Locations!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/960.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <div id="page">
      <div id="header" class="container_12">
        <div id="page-title-wrapper" class="grid_12">
          <h1 id="page-title">{{ title }}</h1>
        </div>
      </div>
      <div id="content" class="container_12">
        <div id="map-wrapper" class="grid_6">

        </div>
        <div id="list-wrapper" class="grid_6">
        
        </div>
      </div>
    </div>
  </body>
</html>