<!DOCTYPE html>
<html>
  <head>
    <title>My Favorite Locations!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Google Maps JS -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&sensor=false"></script>

    <!-- Backbone Requirements -->
    <script type="text/javascript" src="js/json2.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/underscore.min.js"></script>

    <!-- Backbone -->
    <script type="text/javascript" src="js/backbone.js"></script>

    <!-- Smoke, Easy Alert Popups -->
    <script type="text/javascript" src="js/smoke.js"></script>

    <!-- Main Application Javascript -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/960.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" /> 
    <link rel="stylesheet" href="css/smoke.css" type="text/css" /> 
  </head>

  <body>
    <div id="page">
      <div id="header" class="container_12">
        <div id="page-title-wrapper" class="grid_12">
          <h1 id="page-title">{{ title }}</h1>
        </div>
      </div>
      <div id="content" class="container_12">
        <div class="grid_6">
          <div id="map-wrapper">
            <div id="map"></div>
          </div>
          <br />
        </div>
        <div id="right-column" class="grid_6">
          <h3 class="heading">Add a New Location</h3>
          <div id="favorite-new-form">
            <div id="favorite-new-form-fields">
              <div class="favorite-new-input favorite-new-name-input">
                <label>Name:</label>
                <input type="text" class="new-text-element" />
              </div>
              <div class="favorite-new-input favorite-new-address-input">
                <label>Address:</label>
                <input type="text" class="new-text-element" />
              </div>
            </div>
            <div class="favorite-new-actions">
              <a href="#" class="button-link favorite-add">Add</a>
            </div>
          </div>
          <div id="instructions">Double-Click to Edit / Delete</div>
          <h3 class="heading">My Favorites</h3>
          <div id="list-wrapper">
            <div id="empty-text-wrapper">
              You don't have any favorite locations yet.  Add one!
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Underscore Template for a Favorite -->
    <script id="favorite-template" type="text/template">
      <div class="favorite">
        <div class="favorite-name"><%- name %></div>
        <div class="favorite-input favorite-name-input">
          <label>Name:</label>
          <input type="text" value="<%- name %>" />
        </div>
        <div class="favorite-address"><%- address %></div>
        <div class="favorite-input favorite-address-input">
          <label>Address:</label>
          <input type="text" value="<%- address %>" />
        </div>
        <div class="favorite-actions">
          <a href="#" class="button-link favorite-save">Save</a>
          <a href="#" class="button-link favorite-delete">Delete</a>
        </div>
      </div>
    </script>
  </body>
</html>